.form{
  margin: 32px;
}

.form-header{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.form-input-text{
  margin: 8px 0px;
  padding: 4px 8px;
  margin-right: 4px;
}

.form-input-file{
  margin: 8px 0px;
  padding: 4px 0px;
}

.form-input-textarea{
  margin: 8px 0px;
  resize: none;
}

.form-input-label{
  margin: 0;
}

.form-input-submit{
  cursor: pointer;
  padding: 8px 16px;
  color: white;
  background-color: rgb(1, 189, 48);
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  border: none;
}

.form-util-button{
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 8px;
}

.form-add-button{
  color: white;
  background-color: #00c700;
}

.form-delete-button{
  color: white;
  background-color: red;
}