.list{
  padding: 32px;
}

th, td{
  padding: 4px 8px;
}

.list-header{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.list-button{
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button{
  color: white;
  background-color: red;
}

.details-button{
  color: white;
  background-color: rgb(78, 78, 255);
}

.edit-button{
  color: white;
  background-color: orange;
}

.create-button{
  color: white;
  background-color: #00c700;
  margin-bottom: 8px;
}

