.category{
    border: 2px solid rgb(2, 85, 36);
    border-radius: 10px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.category-name{
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 20px;
}

.category:hover{
    cursor: pointer;
}

.category-progress{
    padding: 16px 0px;
    border-radius: 8px;
}