img {
    width: 100px;
}

.inline{
    display:inline-block;
}

img{
    margin:10px;
    display: inline-block;
}

h2{
    margin: 0;
    padding: 0;
    display: inline;
}

.category{
    border: 4px solid rgb(2, 85, 36);
    border-radius: 10px;
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
}

.category:hover{
    cursor: pointer;
}