.category{
    border: 2px solid rgb(68, 68, 68);
    border-bottom: none;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0px 5px rgb(68, 68, 68);
}

.category-name{
    padding-bottom: 16px;
    font-weight: bold;
    font-size: 20px;
}

.category:hover{
    cursor: pointer;
}

.category-progress{
    padding: 16px 0px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}