.tasklist{
    text-align: center;
}


.text-link{
    padding: 26px 30px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    border-radius: 20%;
    font-size: 20px;
}

.task-notdone{
    background-color: rgb(255, 153, 0);
}

.task-notdone:hover{
    background-color: rgb(255, 206, 70);
}

.task-done{
    background-color: rgb(0, 167, 42);
}

.task-done:hover{
    background-color: rgb(0, 219, 55);
}

.text-link:hover {
    text-decoration: none;
    color: white;
}


