.mainNavbar{
    padding: 0;
    margin: 0;
    height: 60px;
    border-bottom: 2px solid;
    border-bottom-color: rgb(216, 216, 216);
}

.mainNavbarLink{
    text-decoration: none;
    font-size: 30px;
    padding: 0px 10px;
    height: 100%;
    align-items: center;
    text-align: center;
    display: flex;
}

.navleft{
    float:left;
}

.navright{
    float:right;
}