.mainNavbarWhole{
    height: 100vh;
    border-right: 2px solid;
    border-right-color: rgb(216, 216, 216);
    width: 240px;
    position: fixed;
}

.mainNavbarLink{
    padding: 8px;
    margin: 16px;
    text-decoration: none;
    font-size: 24px;
    align-items: center;
    display: block;
    color: rgb(80, 80, 80);
    border-radius: 8px;
    border: 2px solid transparent;
}

.mainNavbarLink:hover{
    background-color: rgba(202, 202, 202, 0.418);
}

.active{
    background-color: rgba(1, 194, 1, 0.329);
    border: 2px solid rgb(0, 114, 0);
    color: rgb(0, 114, 0);
    font-weight: bold;
}

.active:hover{
    background-color: rgba(1, 194, 1, 0.329);
    border: 2px solid rgb(0, 114, 0);
}