.solution{
    font-size: 24px;
    font-weight: bold;
    margin: 8px 16px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(87, 204, 87);
    box-shadow: 0px 4px rgb(87, 204, 87);
}

.solution-header{
    padding: 16px;
    background-color: rgb(87, 204, 87);
    color: white;
}

.solution-content{
    padding: 16px;
}

.solution-image{
    padding: 16px;
    padding-top: 0px;
}