.solution{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 20px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(87, 204, 87);
    padding-bottom: 20px;
}

.solution-header{
    padding: 20px;
}