.register-form{
  text-align: center;
  margin: 8px;
}

.register-input-container{
  padding: 4px;
}

.register-label{
  display:block;
  font-weight: bold;
  padding: 8px;
}

.register-input{
  border-radius: 4px;
  border: 1px black solid;
  padding: 8px 16px;
  min-width: 200px;
}

.register-register-link{
  margin: 32px;
}

.register-header{
  font-size: 30px;
  font-weight: bold;
  padding: 16px;
}

.register-button{
  margin-top: 16px;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 16px;
  text-align: center;
  border: none;
  background-color: rgb(1, 189, 48);
  box-shadow: 0px 4px rgb(0, 146, 37);
  width: 200px
}

.register-button:hover{
  background-color: rgb(2, 206, 53);
}

.register-button:active{
  box-shadow: none;
  margin-top: 20px;
}