.userStatus-label{
  padding: 4px;
  font-weight: bold;
}

.userStatus-taken{
  color: rgb(212, 1, 1);
}

.userStatus-free{
  color: rgb(1, 189, 48);
}

.userStatus-loading{
  color: rgb(0, 119, 255);
}