.formula{
  margin: 24px 32px;
  width: 60%;
  min-width: 512px;
  border: 2px solid rgb(0, 119, 255);
  border-bottom: none;
  box-shadow: 0px 5px rgb(0, 84, 180);
}

.formula-description{
  font-weight: bold;
  font-size: 24px;
  color: white;
  padding: 16px;
  cursor: pointer;
}

.formula-description-bg{
  background-color: rgb(0, 119, 255);
  margin: 0px;
}

.formula-content{
  padding: 16px;
}

.formula-content-el{
  margin: 8px 0;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
}