.form-button{
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}

.delete-button{
    color: white;
    background-color: red;
}

.details-button{
    color: white;
    background-color: rgb(78, 78, 255);
}

.edit-button{
    color: white;
    background-color: orange;
}

.create-button{
    color: white;
    background-color: #00c700;
}

.btn-add{
    border: none;
    font-size: 16px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #00c700;
}

.login-form{
    text-align: center;
    margin: 10px;
}

.login-error{
    color: red;
    margin: 10px;
}

label{
    display:block;
    margin: 5px;
}

.login-input{
    margin: 5px;
    padding: 5px 10px;
}