.task-question{
    text-align: center;
    padding: 0px 20px 30px 20px;
}

.task-container{
    display: flex;
}

.task-steps{
    width: 60%;
}

.task-extras{
    flex-flow: column;
    display: flex;
    flex-grow: 1;
    height: 400px;
}

.task-extras-filler{
    height: 200px;
}